.container {
    max-width: 1400px;
    margin: 0 auto;
}

.register_form {
    display: flex;
    gap: 20px;
    flex-direction: column;
    max-width: 50%;
    margin: 30px auto 0 auto;
    text-align: center;
}

.register_form input {
    padding: 10px 5px;
}