.inputFile_label {
    /*width: 310px;*/
    padding: 13px 17px;
    border-radius: 10px;
    background: #D4EFE1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputFile_svg_span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.inputNone {
    display: none;
}

.upload {
    color: #0FA958;
    font-family: Averta Demo PE;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}