

.header {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
.userImg {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 40px;
}

.dropdown {
    min-width: 100px;
}
.dropdown_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    background: white;
    height: 40px;
    padding: 0 30px;
    cursor: pointer;
}
.dropdown-btn:hover,
.dropdown-btn:focus {
    background: #f2f2f2;
}

.dropdown_items {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    width: 200px;
    position: absolute;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
}
.dropdown_item {
    padding-top: 0;
    padding-bottom: 0;
    cursor: pointer;
}
.dropdown_item:not(first-child) {
    padding-top: 15px;
    padding-bottom: 15px;
}
.dropdown_item:not(last-child) {
    padding-top: 15px;
    padding-bottom: 15px;
}

.isVisible {
    visibility: visible;
    display: block;
}
.isHidden {
    visibility: hidden;
    display: none;
}

.signInBtn {
    margin-left: 30px;
    padding: 10px 30px;
    background: #0FA958;
    color: #fff;
    text-transform: uppercase;
    border: unset;
    border-radius: 10px;
    cursor: pointer;
}

.userImgLogo {
    padding: 10px 20px;
    background: #988484;
    color: #fff;
    border-radius: 50px;
    font-size: 25px;
}