
.dropdown {
    min-width: 100px;
}
.question{
    border: none;
    background-color: #F7F7F7;
    min-width: 497px;
    min-height: 79px;
    padding: 25px;
    border-radius: 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.dropdown_btn:hover,
.dropdown_btn:focus {
    background: #f2f2f2;
}

.dropdown_items {
    box-shadow: 0 4px 13px 0 rgba(34, 60, 80, 0.18);
    /*width: 65%;*/
    position: absolute;
    margin-top: 5px;
    margin-left: 40px;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    z-index: 999;
    background: #fff;
}

.dropdown_item p{
    font-size: 20px;
    padding: 20px;
}


.isVisible {
    visibility: visible;
}
.isHidden {
    visibility: hidden;
}
