* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}


/*.container {*/
/*  max-width: 1180px;*/
/*  margin: 0 auto;*/
/*}*/

/*h1 {*/
/*  color: #000;*/
/*  font-family: Gilroy, sans-serif;*/
/*  font-size: 60px;*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  line-height: normal;*/
/*}*/

/*h2 {*/
/*  color: #000;*/
/*  font-family: Gilroy, sans-serif;*/
/*  font-size: 40px;*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  line-height: normal;*/
/*}*/

/*h3 {*/
/*  color: #000;*/
/*  font-family: Gilroy, sans-serif;*/
/*  font-size: 30px;*/
/*  font-style: normal;*/
/*  font-weight: 700;*/
/*  line-height: normal;*/
/*}*/

/*p {*/
/*  font-size: 25px;*/
/*  font-style: normal;*/
/*  font-weight: 400;*/
/*  line-height: normal;*/
/*  color: #000;*/
/*}*/

a {
  color: #000;
  text-decoration: none;
}

.page {
    display: flex;
    align-items: flex-start;
}

.page_main {
    padding: 0 0 0 20px;
}

.layout {
    padding: 0 0 0 26px;
}